target
test-output
bin/

fhir-input/*
measure-output/*

.classpath
.project
.settings
.flattened-pom.xml
.factorypath

pom.xml.versionsBackup

*.log*

Snap.*
core.*
dump.*
heapdump.*
javacore.*
jitdump.*
.attach_*

.idea
*.iml

.apt_generated